@use 'functions' as f;

main {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;

    .calc {
        width: 100%;
        height: fit-content;
        max-width: f.toRem(540);
        box-sizing: content-box;
        margin-inline: auto;
        padding-inline: f.toRem(24);
        padding-block: f.toRem(30);
        font-family: 'League Spartan', sans-serif;
        font-weight: bold;

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: end;
            margin-bottom: f.toRem(32);

            
            &__logo {
                height: f.toRem(29);
                line-height: f.toRem(29);
                font-size: f.toRem(32);
                margin-inline-start: f.toRem(7);
            }

            &__theme-switcher {
                display: grid;
                grid-template-areas: "none choices" "label toggle";
                row-gap: f.toRem(5);
                column-gap: f.toRem(26);

                &__label {
                    grid-area: label;
                    font-size: f.toRem(12);
                    line-height: f.toRem(24);
                    text-align: center;                    
                }

                &__choices {
                    grid-area: choices;
                    display: flex;
                    justify-content: space-around;
                    line-height: 1;
                    font-size: f.toRem(12);
                }

                & .toggle-btn {
                    grid-area: toggle;
                }

                &__toggle-btn::after {
                    grid-area: toggle;
                    width: f.toRem(71);
                    height: f.toRem(26);
                    border-radius: 9999rem;
                }
            }
        }

        &__screen {
            height: clamp(5.5rem, 18.779vw + 1.099rem, 8rem);
            width: 100%;
            margin-bottom: f.toRem(24);
            border-radius: f.toRem(10);
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: clamp(0rem, 4.695vw + -1.1rem, 0.625rem);
            padding-inline: f.toRem(24);

            &__sub {
                font-size: clamp(0.875rem, 2.817vw + 0.215rem, 1.25rem);
                font-weight: normal;
                // display: none;
            }

            &__main {
                font-size: clamp(2.5rem, 7.512vw + 0.739rem, 3.5rem);
                margin-top: f.toRem(5);
                line-height: 1;
            }
        }

        &__keys {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: clamp(0.813rem, 5.164vw + -0.398rem, 1.5rem);
            border-radius: f.toRem(10);
            padding: f.toRem(24);

            &__btn-wrapper {
                height: f.toRem(64);

                &:nth-last-child(-n+2){
                    grid-column: span 2;
                }
            }
        }
    }
}